body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 10vw; 
    margin-left: 10vw;
    margin-right: 12vw;
    margin-top:5vw;
    background-color: rgb(255, 241, 219);
  }

  p{
    font-size: 20pt;
  }

  a{
    text-decoration: none;
    color: rgb(28, 15, 5);
    transition: color .2s linear;
  }

  a:hover {
    color: brown;
  }
  a:active{
    color:brown;
  }