body {
    font-family: fantasy;
    font-size: 10vw; 
    margin-left: 10vw;
    margin-right: 12vw;
    margin-top:5vw;
  }

  p{
    font-size: 2vw;
  }

  a{
    text-decoration: none;
  }

  a:hover {
    color: rgb(241, 117, 0);
  }