
.roboto {
  font-family: "Roboto", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: 400;
  font-variation-settings:
    "wdth" 100;
}

.bodoni-moda {
  font-family: "Bodoni Moda", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.bodoni-moda-sc {
  font-family: "Bodoni Moda SC", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.libre-bodoni {
  font-family: "Libre Bodoni", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
.meddon-regular {
  font-family: "Meddon", serif;
  font-weight: 400;
  font-style: normal;
}
.homemade-apple-regular {
  font-family: "Homemade Apple", serif;
  font-weight: 400;
  font-style: normal;
}


body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 10vw; 
    margin-left: 10vw;
    margin-right: 12vw;
    margin-top: 5vw;
    background-color: rgb(255, 241, 219);
  }

  div{
    color: rgb(255, 241, 219);
    display: inline-block;
  }

  p{
    font-size: 4vw;
  }
  a{
    text-decoration: none;
    color: rgb(28, 15, 5);
    transition: color .2s linear;
  }

a:hover {
  color:brown;
  }
a:active{
  color:brown;
}

.more{
  color:rgb(28, 15, 5);
}
@media screen and (min-width: 600px) {
  p{
    font-size: 3vw;
}
}
@media screen and (min-width: 1024px) {
  p{
    font-size: 2vw;
}
}